@mixin flexrc {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flexr {
  display: flex;
  align-items: center;
}

@mixin flexcc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin flexc {
  display: flex;
  flex-direction: column;
}

@mixin tablet-view() {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin phone-view() {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin widescreen-view() {
  @media screen and (max-device-aspect-ratio: 9/17) {
    @content;
  }
}

@mixin smallscreen-view() {
  @media screen and (max-device-aspect-ratio: 16/9) {
    @content;
  }
}

@mixin dark-mode() {
  @media (prefers-color-scheme: dark) {
    @content;
  }
}
