.container-hero {
  min-height: 92vh;
  position: relative;
  .hero {
    margin-top: 13%;
    @include flexrc();
    gap: 40px;
    position: relative;
    z-index: 10;
    @include tablet-view {
      margin-top: 8%;
      flex-direction: column;
    }

    .img-hero {
      width: 438px;
    }
    @include phone-view {
      .img-hero {
        width: 300px;
      }
    }
    .text-hero {
      @include flexc();

      h1 {
        margin-bottom: 0.5rem;
        font-size: 2rem;
      }
      p {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
      @include tablet-view {
        margin-top: 1rem;
        h1,
        p {
          text-align: center;
        }
        .row {
          justify-content: center;
        }
      }
      @include phone-view {
        h1 {
          font-size: 1.5rem;
        }
        p {
          font-size: 0.875rem;
        }
      }
      .row {
        gap: 1rem;
        .btn-outline,
        .btn-solid {
          h1 {
            font-size: 1rem;
            margin: 0;
          }
        }
      }
    }
  }
}
