input {
  border-radius: 0.75rem;
  background: $grey;
  min-height: 2.5rem;
  width: 100%;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: $grey-light;
  text-indent: 10px;
}
