.ornament-header {
  position: absolute;
  top: -130px;
  left: -150px;
  width: 386px;
  height: 311px;
}

.ornament-home {
  position: absolute;
  bottom: -130px;
  right: -40%;
  width: 85%;
  height: 35vw;
}

.home-page {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.home {
  position: relative;
  width: 100%;
}
